Alexander Jaust <alexander.jaust@ipvs.uni-stuttgart.de>

Amin Totounferoush <a.totounferoush@gmail.com>

Benjamin Rodenberg <benjamin.rodenberg@in.tum.de>
Benjamin Rodenberg <benjamin.rodenberg@in.tum.de> <benjamin.rueth@tum.de>
Benjamin Rodenberg <benjamin.rodenberg@in.tum.de> <ga25zih@mytum.d>

Benjamin Uekermann <benjamin.uekermann@gmail.com>
Benjamin Uekermann <benjamin.uekermann@gmail.com> <uekerman@atsccs39.informatik.tu-muenchen.de>
Benjamin Uekermann <benjamin.uekermann@gmail.com> <uekerman@atsccs63.informatik.tu-muenchen.de>
Benjamin Uekermann <benjamin.uekermann@gmail.com> <uekerman@in.tum.de>
Benjamin Uekermann <benjamin.uekermann@gmail.com> <benjamin.uekermann@ipvs.uni-stuttgart.de>

Bernhard Gatzhammer <bernhard.gatzhammer@gmail.com>
Bernhard Gatzhammer <bernhard.gatzhammer@gmail.com> <gatzhammer@in.tum.de>
Bernhard Gatzhammer <bernhard.gatzhammer@gmail.com> <gatzhamm@in.tum.de>
Bernhard Gatzhammer <bernhard.gatzhammer@gmail.com> <bernhard.gatzhammer@googlemail.com>

Carme Homs Pons <homspons@gmail.com>
Carme Homs Pons <homspons@gmail.com> <71499004+carme-hp@users.noreply.github.com>

David Schneider <david.schneider@ipvs.uni-stuttgart.de>
David Schneider <david.schneider@ipvs.uni-stuttgart.de> <dav.schneider@tum.de>
David Schneider <david.schneider@ipvs.uni-stuttgart.de> <schneidd@ipvs.uni-stuttgart.de>

Dinir Imameev <bspncelwm@gmail.com>

Dmytro Sashko <dmshko@gmail.com>
Dmytro Sashko <dmshko@gmail.com> <dmytro.sashko@tum.de>

Dominik Volland <volland@ma.tum.de>

Durganshu Mishra <durganshu.mishra@tum.de>
Durganshu Mishra <durganshu.mishra@tum.de> <60805696+Durganshu@users.noreply.github.com>

Florian Lindner <florian.lindner@ipvs.uni-stuttgart.de>
Florian Lindner <florian.lindner@ipvs.uni-stuttgart.de> <florian.lindner@xgm.de>

Frederic Simonis <simonisfrederic@gmail.com>
Frederic Simonis <simonisfrederic@gmail.com> <simonis@in.tum.de>

Gerasimos Chourdakis <chourdak@in.tum.de>
Gerasimos Chourdakis <chourdak@in.tum.de> <makishourdakis@gmail.com>
Gerasimos Chourdakis <chourdak@in.tum.de> <gerasimos.chourdakis@ipvs.uni-stuttgart.de>

Peter Vollmer <vollmerpeter@gmail.com>
Peter Vollmer <vollmerpeter@gmail.com> <vollmerpeter@googlemail.com>

Ishaan Desai <ishaan.desai@ipvs.uni-stuttgart.de>
Ishaan Desai <ishaan.desai@ipvs.uni-stuttgart.de> <44898158+IshaanDesai@users.noreply.github.com>
Ishaan Desai <ishaan.desai@ipvs.uni-stuttgart.de> <ishaandesai@gmail.com>

Jun Chen <jun.chen@ipvs.uni-stuttgart.de>
Jun Chen <jun.chen@ipvs.uni-stuttgart.de> <94080048+Fujikawas@users.noreply.github.com>

Klaudius Scheufele <klaudius.scheufele@ipvs.uni-stuttgart.de>
Klaudius Scheufele <klaudius.scheufele@ipvs.uni-stuttgart.de> <scheufks@ipvs.uni-stuttgart.de>
Klaudius Scheufele <klaudius.scheufele@ipvs.uni-stuttgart.de> <Klaudius.Scheufele@ipvs.uni-stuttgart.de>
Klaudius Scheufele <klaudius.scheufele@ipvs.uni-stuttgart.de> <klaudius.scheufele@gmx.de>

Kyle Davis <kyle.davis@ipvs.uni-stuttgart.de>
Kyle Davis <kyle.davis@ipvs.uni-stuttgart.de> <kyle.davis3019@gmail.com>

Kürşat Yurt <kursatyurt@gmail.com>
Kürşat Yurt <kursatyurt@gmail.com> <57598663+kursatyurt@users.noreply.github.com>

Nicolas Geldner <ngeldner3@gmail.com>

Niklas Kotarsky <niklas.kotarsky@math.lu.se>
Niklas Kotarsky <niklas.kotarsky@math.lu.se> <51382186+NiklasKotarsky@users.noreply.github.com>

Oguz Koseomur <oguz.koseomur@tum.de>
Oguz Koseomur <oguz.koseomur@tum.de> <34319260+oguzziya@users.noreply.github.com>
Oguz Koseomur <oguz.koseomur@tum.de> <oguzkoseomur@gmail.com>

Saumitra Vinay Joshi <saumitra.vjoshi@gmail.com>
