# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v8.0.1'
    hooks:
    -   id: clang-format
        exclude: "^thirdparty"
