repos:
# Official repo for the clang-format hook
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: 'v20.1.0'
  hooks:
  - id: clang-format
    name: format C/C++
    exclude: "^thirdparty"
    types_or: [c++]
# Official repo for default hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v5.0.0'
  hooks:
  - id: check-xml
    exclude: "^src/precice/tests/emptyconfig.xml"
  - id: check-merge-conflict
  - id: mixed-line-ending
    exclude: "^thirdparty"
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
    exclude: "^thirdparty"
  - id: end-of-file-fixer
    exclude: "^thirdparty"
# black repo for python formatting
- repo: https://github.com/ambv/black
  rev: 25.1.0
  hooks:
    - id: black
      name: format python
      exclude: "^thirdparty"
# Custom repo for the preCICE configuration formatter
- repo: https://github.com/precice/config-format
  rev: 'v1.1.0'
  hooks:
  - id: precice-config-format
    name: format preCICE configs
    exclude: "^src/precice/tests/emptyconfig.xml"
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      name: check spelling
      exclude: "^thirdparty"
- repo: local
  hooks:
  - id: update-cmake-sources
    name: update CMake sources
    entry: tools/building/updateSourceFiles.py
    pass_filenames: false
    require_serial: true
    language: python
    types_or: [c, c++]
