<configuration>
   <spacetree name="Spacetree"
              type="dynamic-octree"
              max-meshwidth="0.5"
              offset="20.0; 20.0; 20.0"
              halflength="30.0; 30.0; 30.0" />
   
   <mesh name="Mesh">
      <use-spacetree name="Spacetree"/>      
   </mesh>
</configuration>