Package: libprecice1
Version: 1.1.1-1
Section: libs
Priority: optional
Architecture: amd64
Depends: libc6, petsc-dev, libboost-dev, libboost-log-dev, libboost-thread-dev, libboost-system-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-test-dev, libeigen3-dev, libxml2-dev, python-dev, python-numpy
Maintainer: Gerasimos Chourdakis <chourdak@in.tum.de>
Description: Shared library and headers for version 1.1.1 of preCICE
 preCICE is a coupling library for partitioned multi-physics simulations, 
 including, but not restricted to fluid-structure interaction and conjugate 
 heat transfer simulations.
 .
 This package contains the latest preCICE 1.1 shared library, include files, 
 and links.
 .
 Note: This package is considered (very) experimental!
 Please report any issues on https://github.com/precice/precice/issues/125.
Homepage: https://www.precice.org/
