.headertitle {
    max-width: 1000px !important;
    margin: 0 auto !important;
}

.contents {
    max-width: 1000px !important;
    margin: 0 auto !important;
    padding: 0 1em;
}

#projectlogo {
    padding: 5px;
}
