name: Build and Test
# Builds preCICE inside various docker containers and runs the tests.
# Ubuntu-based cases additionally build the Debian package and test it using lintian.
#
# See https://github.com/precice/ci-images
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    paths:
      - 'cmake/**'
      - 'examples/**'
      - 'src/**'
      - 'tests/**'
      - 'thirdparty/**'
      - 'tests/**'
      - 'tools/profiling/**'
      - 'CMakeLists.txt'
      - 'extras/bindings/**'
      - '.github/workflows/build-and-test.yml'
  workflow_dispatch:

concurrency:
  group: ${ {github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

env:
  CTEST_OUTPUT_ON_FAILURE: True
  CMAKE_EXPORT_COMPILE_COMMANDS: True
  CMAKE_GENERATOR: Ninja

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
         python-version: '3.x'
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Run checks
        run: pre-commit run -a -v
      - name: Git status
        if: always()
        run: git status
      - name: Full diff
        if: always()
        run: git diff

  linux:
    name: ${{ format('{0} {1} {2} {3}', matrix.IMAGE, matrix.CXX, matrix.CONFIG, matrix.TYPE) }}
    needs: pre-commit
    runs-on: ubuntu-latest
    container:
      image: 'precice/ci-${{ matrix.IMAGE }}:latest'
      options: --shm-size=2gb
    defaults:
      run:
        shell: "bash --login -eo pipefail {0}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - IMAGE: 'ubuntu-2204'
            CONFIG: Bare
            CXX: 'g++'
            TYPE: Debug
            COVFLAGS: '--coverage'
          - IMAGE: 'ubuntu-2204'
            CONFIG: MPI
            CXX: 'g++'
            TYPE: Debug
            COVFLAGS: '--coverage'
          - IMAGE: 'ubuntu-2204'
            CONFIG: MPIPETSc
            CXX: 'g++'
            TYPE: Debug
            COVFLAGS: '--coverage'
          - IMAGE: 'ubuntu-2204'
            CONFIG: Bare
            CXX: 'g++'
            TYPE: Release
          - IMAGE: 'ubuntu-2204'
            CONFIG: MPI
            CXX: 'g++'
            TYPE: Release
          - IMAGE: 'ubuntu-2204'
            CONFIG: MPIPETSc
            CXX: 'g++'
            TYPE: Release
          - IMAGE: 'ubuntu-2404'
            CONFIG: MPIPETSc
            CXX: 'g++'
            TYPE: Debug
          - IMAGE: 'archlinux'
            CONFIG: MPIPETSc
            CXX: 'g++'
            TYPE: Debug
          - IMAGE: 'archlinux'
            CONFIG: MPIPETSc
            CXX: 'g++'
            TYPE: Release
          - IMAGE: 'archlinux'
            CONFIG: MPIPETSc
            CXX: 'clang++'
            TYPE: Debug
          - IMAGE: 'archlinux'
            CONFIG: MPIPETSc
            CXX: 'clang++'
            TYPE: Release
          - IMAGE: 'fedora'
            CONFIG: MPIPETScGinkgo
            CXX: 'g++'
            TYPE: Debug
          - IMAGE: 'fedora'
            CONFIG: MPIPETScGinkgo
            CXX: 'g++'
            TYPE: Release
          - IMAGE: 'intel'
            CONFIG: MPIPETSc
            CXX: 'icpx'
            TYPE: Debug
          - IMAGE: 'intel'
            CONFIG: MPIPETSc
            CXX: 'icpx'
            TYPE: Release
    steps:
      - uses: actions/checkout@v4
      - name: Generate build directory
        run: mkdir -p build
      - name: Install polars in venv
        run: |
          python3 -m venv --system-site-packages venv
          venv/bin/pip install polars
          venv/bin/pip list
      - name: Configure
        working-directory: build
        env:
          CXX: ${{ matrix.CXX }}
          CXXFLAGS: "-Wall -Wextra -Wno-unused-parameter ${{ matrix.COVFLAGS }}"
          MPI: ${{ contains(matrix.CONFIG, 'MPI') }}
          PETSc: ${{ contains(matrix.CONFIG, 'PETSc') }}
          Ginkgo: ${{ contains(matrix.CONFIG, 'Ginkgo') }}
        run: |
          . ../venv/bin/activate # There is always a venv present
          cmake --version
          cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=${{ matrix.TYPE }} -DPRECICE_FEATURE_MPI_COMMUNICATION=${{ env.MPI }} -DPRECICE_FEATURE_PETSC_MAPPING=${{ env.PETSc }} -DPRECICE_FEATURE_GINKGO_MAPPING=${{ env.Ginkgo }} -DPRECICE_FEATURE_LIBBACKTRACE_STACKTRACES=ON -DPRECICE_BUILD_BENCHMARKS=ON  -DCMAKE_EXE_LINKER_FLAGS="${{ matrix.COVFLAGS }}" ..
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ format('{0} {1} {2} {3}', matrix.IMAGE, matrix.CXX, matrix.CONFIG, matrix.TYPE) }} CMakeCache
          path: build/CMakeCache.txt
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ format('{0} {1} {2} {3}', matrix.IMAGE, matrix.CXX, matrix.CONFIG, matrix.TYPE) }} CMakeLogs
          path: 'build/CMakeFiles/*.log'
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ format('{0} {1} {2} {3}', matrix.IMAGE, matrix.CXX, matrix.CONFIG, matrix.TYPE) }} CompileCommands
          path: build/compile_commands.json
      - name: Enable compiler annotations
        uses: electronjoe/gcc-problem-matcher@v1
        if: ${{ matrix.IMAGE == 'archlinux' }}
      - name: Compile
        working-directory: build
        run: |
          cmake --build .
      - name: Adjust user rights
        run: chown -R $PRECICE_USER build
      - name: Tests
        env:
          OMPI_MCA_btl: self,vader
          OMPI_MCA_pml: ob1
          FI_PROVIDER: ${{ matrix.IMAGE == 'Intel' && 'tcp' || 'sockets' }} # use sockets on fedora and tcp on intel
          PSM3_HAL: loopback # required for fedora
        working-directory: build
        run: su -c ". ../venv/bin/activate && ctest -j" $PRECICE_USER
      - name: Coverage Report
        working-directory: build
        if: ${{ matrix.COVFLAGS }}
        run: |
          . ../venv/bin/activate
          pip install fastcov
          fastcov --lcov -e '/usr/' -e '/opt/'
      - uses: codecov/codecov-action@v5
        with:
          files: ./build/coverage.info
          token: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ matrix.COVFLAGS }}
      - name: Run benchmarks
        working-directory: build
        if: ${{ contains(matrix.IMAGE, 'archlinux') && (matrix.TYPE == 'Release') }}
        run: |
          ./precice-bench
      - name: Check packages
        working-directory: build
        if: ${{ contains(matrix.IMAGE, 'ubuntu') }}
        run: |
          cpack
          lintian -i --suppress-tags control-file-has-bad-permissions *.deb
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ format('{0} {1} {2} {3}', matrix.IMAGE, matrix.CXX, matrix.CONFIG, matrix.TYPE) }} TestOutput
          path: build/TestOutput/

  macos:
    name: ${{ format('macos {0} {1} {2}', matrix.CXX, matrix.CONFIG, matrix.TYPE) }}
    needs: pre-commit
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - CONFIG: MPIPETSc
            CXX: 'clang++'
            TYPE: Debug
          - CONFIG: MPIPETSc
            CXX: 'clang++'
            TYPE: Release
    steps:
    - uses: actions/checkout@v4
    - name: Setup python
      uses: actions/setup-python@v5
      with:
       python-version: '3.10'
       check-latest: true
    - name: Install pip packages
      run: pip3 install numpy polars
    - name: Install preCICE dependencies
      run: brew install --overwrite --quiet eigen libxml2 boost petsc openmpi ninja
    - name: Generate build directory
      run: mkdir -p build
    - name: Configure
      working-directory: build
      env:
        CXX: ${{ matrix.CXX }}
        CXXFLAGS: "-Wall"
        MPI: ${{ contains(matrix.CONFIG, 'MPI') }}
        PETSc: ${{ contains(matrix.CONFIG, 'PETSc') }}
      run: |
        cmake --version
        cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=${{ matrix.TYPE }} -DPRECICE_FEATURE_MPI_COMMUNICATION=${{ env.MPI }} -DPRECICE_FEATURE_PETSC_MAPPING=${{ env.PETSc }} ..
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: ${{ format('{0} {1} {2}', matrix.CXX, matrix.CONFIG, matrix.TYPE) }} CMakeCache
        path: build/CMakeCache.txt
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: ${{ format('{0} {1} {2}', matrix.CXX, matrix.CONFIG, matrix.TYPE) }} CMakeLogs
        path: 'build/CMakeFiles/*.log'
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: ${{ format('{0} {1} {2}', matrix.CXX, matrix.CONFIG, matrix.TYPE) }} CompileCommands
        path: build/compile_commands.json
    - name: Compile
      working-directory: build
      run: |
        cmake --build .
    - name: Tests
      env:
        OMPI_MCA_btl: self,vader
        OMPI_MCA_pml: ob1
      working-directory: build
      run: ctest -j
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: ${{ format('{0} {1} {2}', matrix.CXX, matrix.CONFIG, matrix.TYPE) }} TestOutput
        path: build/TestOutput/


  windows:
    needs: pre-commit
    name: ${{ format('windows MinGW UCRT {0}', matrix.TYPE) }}
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      fail-fast: false
      matrix:
        TYPE: [Release, Debug]
    env:
      CMAKE_BUILD_PARALLEL_LEVEL: 4
      CMAKE_BUILD_TYPE: ${{ matrix.TYPE }}
      CXXFLAGS: -Wa,-mbig-obj
    steps:
      - name: Install MS-MPI
        run: |
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -Uri https://github.com/microsoft/Microsoft-MPI/releases/download/v10.1.1/msmpisetup.exe -OutFile msmpisetup.exe
          Start-Process -FilePath .\msmpisetup.exe -ArgumentList '-unattend' -Wait
          Remove-Item msmpisetup.exe

          # Add MS-MPI to PATH
          echo "C:\Program Files\Microsoft MPI\Bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: powershell
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          path-type: inherit
          install: git mingw-w64-ucrt-x86_64-gcc-libs mingw-w64-ucrt-x86_64-boost-libs mingw-w64-ucrt-x86_64-libxml2 mingw-w64-ucrt-x86_64-python mingw-w64-ucrt-x86_64-python-numpy mingw-w64-ucrt-x86_64-cc mingw-w64-ucrt-x86_64-cmake mingw-w64-ucrt-x86_64-msmpi mingw-w64-ucrt-x86_64-ninja mingw-w64-ucrt-x86_64-boost mingw-w64-ucrt-x86_64-eigen3 mingw-w64-ucrt-x86_64-crt mingw-w64-ucrt-x86_64-msmpi
      - uses: actions/checkout@v4
      - name: Make build directory
        run: mkdir -p build
      - name: Configure
        working-directory: build
        run: |
          cmake -DPRECICE_FEATURE_PETSC_MAPPING=OFF -DPRECICE_FEATURE_PYTHON_ACTIONS=OFF -DCMAKE_CXX_FLAGS_DEBUG=-g1 ..
      - name: Build
        working-directory: build
        run: |
          cmake --build .
      - name: Test
        working-directory: build
        run: |
          # Allow each test to run twice to iron out sporadic MPI failures
          ctest -j --repeat until-pass:2
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: debugdump
          path: build/
