name: Release Pipeline
# Creates a draft release, generates packages and attaches them to the release.
# This is automatically run when vMAJOR.MINOR.PATCH tag is pushed to the repo.
# The release-draft will run before the other jobs, but it will succeed even
# if the release already exists.
on:
  push:
    tags:
      - v*.*.*

  workflow_dispatch:

jobs:
  release-draft:
    name: 'Draft release'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Create draft release
        run: gh release create "${{ github.ref_name}}" --draft --verify-tag -R precice/precice
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  package-deb:
    needs: release-draft
    strategy:
      fail-fast: false
      matrix:
        include:
        - distro: ubuntu
          version: "22.04"
        - distro: ubuntu
          version: "24.04"
        - distro: debian
          version: "13"
    uses: ./.github/workflows/request-deb-package.yml
    with:
      release: ${{ github.ref_name }}
      distro: ${{ matrix.distro }}
      version: ${{ matrix.version }}
    secrets: inherit

  docker-release:
    name: "Release Dockerfile"
    needs: package-deb
    uses: ./.github/workflows/publish-docker-release.yml
    with:
      version: ${{ github.ref_name }}
      latest: true
    secrets: inherit

  docker-nightly:
    name: "Release Nightly"
    needs: release-draft
    uses: ./.github/workflows/publish-docker-nightly.yml
    with:
      branch: ${{ github.ref_name }}
    secrets: inherit
