name: Request Deb Package
# This is a workflow to manually request an ubuntu package for an existing release.
# To use:
# - Go to the GitHub repository
# - Go to the Actions tab
# - Select the "Request Package" workflow
# - On the top of the list, select "Run workflow"
# - Select the release tag to generate the package for. Example: v2.3.0
# - Select the ubuntu version to generate the package for. Example: 21.10
# - Click "Run Workflow"
#
# This workflow uses the official ubuntu docker images.
on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Release tag'
        default: "v2.1.0"
        required: true
        type: string
      distro:
        description: 'Distribution/Container'
        default: "ubuntu"
        required: true
        type: string
      version:
        description: 'Distribution version'
        default: "20.04"
        required: true
        type: string
  workflow_call:
    inputs:
      release:
        required: true
        type: string
      distro:
        required: true
        type: string
      version:
        required: true
        type: string

jobs:
  package:
    name: 'Package ${{ inputs.release }} for ${{ inputs.distro }} ${{ inputs.version }}'
    runs-on: ubuntu-latest
    container: '${{ inputs.distro }}:${{ inputs.version }}'
    outputs:
      artifact-id: ${{ steps.upload.outputs.artifact-id }}

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.release }}
      - name: Generate build directory
        run: mkdir -p build
      - name: Install common dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
          TZ: Europe/Berlin
        run: |
          apt update
          apt -y upgrade
          apt -y install git build-essential lsb-release cmake libeigen3-dev libxml2-dev libboost-all-dev python3-dev python3-numpy petsc-dev
      - name: Configure
        working-directory: build
        run: |
          cmake --version
          cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release -DCPACK_GENERATOR="DEB" -DBUILD_TESTING=OFF -DBUILD_SHARED_LIBS=ON -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=ON ..
      - name: Compile
        working-directory: build
        run: make -j "$(nproc)"
      - name: Create packages
        working-directory: build
        run: cpack
      - uses: actions/upload-artifact@v5
        id: upload
        with:
          name: ${{ format('{0}_{1}_{2}_deb', inputs.distro, inputs.version, inputs.release ) }}
          path: ./build/libprecice*.deb*
          overwrite: true
          if-no-files-found: error
          retention-days: 1

  publish:
    name: 'Upload DEB package for ${{ inputs.distro }}:${{ inputs.version }} to release ${{ inputs.release }}'
    needs: package
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Download package
        uses: actions/download-artifact@v6
        with:
          artifact-ids: ${{ needs.package.outputs.artifact-id }}
          path: build
      - name: Upload debian package
        run: gh release upload --clobber -R precice/precice "${{ inputs.release }}" ./build/libprecice*.deb*
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
