name: System tests

on:
  pull_request:
    types: [labeled]

jobs:
  gather-refs:
    name: Map Git branches to latest refs
    if: ${{ github.event.label.name == 'trigger-system-tests' }}
    runs-on: ubuntu-latest
    outputs:
      ref-python-bindings: ${{ steps.ref-python-bindings.outputs.shorthash }}
      ref-calculix-adapter: ${{ steps.ref-calculix-adapter.outputs.shorthash }}
      ref-fenics-adapter: ${{ steps.ref-fenics-adapter.outputs.shorthash }}
      ref-openfoam-adapter: ${{ steps.ref-openfoam-adapter.outputs.shorthash }}
      ref-su2-adapter: ${{ steps.ref-su2-adapter.outputs.shorthash }}
      ref-tutorials: ${{ steps.ref-tutorials.outputs.shorthash }}
    steps:
      - id: ref-python-bindings
        name: Get Python bindings ref
        uses: nmbgeek/github-action-get-latest-commit@main
        with:
          owner: precice
          repo: python-bindings
          branch: develop
      - id: ref-calculix-adapter
        name: Get CalculiX adapter ref
        uses: nmbgeek/github-action-get-latest-commit@main
        with:
          owner: precice
          repo: calculix-adapter
          branch: develop
      - id: ref-fenics-adapter
        name: Get FEniCS adapter ref
        uses: nmbgeek/github-action-get-latest-commit@main
        with:
          owner: precice
          repo: fenics-adapter
          branch: develop
      - id: ref-openfoam-adapter
        name: Get OpenFOAM adapter ref
        uses: nmbgeek/github-action-get-latest-commit@main
        with:
          owner: precice
          repo: openfoam-adapter
          branch: develop
      - id: ref-su2-adapter
        name: Get SU2 adapter ref
        uses: nmbgeek/github-action-get-latest-commit@main
        with:
          owner: precice
          repo: su2-adapter
          branch: develop
      - id: ref-tutorials
        name: Get tutorials ref
        uses: nmbgeek/github-action-get-latest-commit@main
        with:
          owner: precice
          repo: tutorials
          branch: develop
      - id: report-refs
        name: Report Git refs
        run: |
          printf 'Python bindings: ${{ steps.ref-python-bindings.outputs.shorthash }}\n ${{ steps.ref-python-bindings.outputs.description }}\n----------\n'
          printf 'CalculiX adapter: ${{ steps.ref-calculix-adapter.outputs.shorthash }}\n ${{ steps.ref-calculix-adapter.outputs.description }}\n----------\n'
          printf 'FEniCS adapter: ${{ steps.ref-fenics-adapter.outputs.shorthash }}\n ${{ steps.ref-fenics-adapter.outputs.description }}\n----------\n'
          printf 'OpenFOAM adapter: ${{ steps.ref-openfoam-adapter.outputs.shorthash }} ${{ steps.ref-openfoam-adapter.outputs.description }}\n----------\n'
          printf 'SU2 adapter: ${{ steps.ref-su2-adapter.outputs.shorthash }}\n ${{ steps.ref-su2-adapter.outputs.description }}\n----------\n'
          printf 'Tutorials: ${{ steps.ref-tutorials.outputs.shorthash }} ${{ steps.ref-tutorials.outputs.description }}\n----------\n'
      - id: summary
        name: Prepare Markdown summary
        run: |
          {
          echo "## Git references of latest (develop) components"
          echo "### preCICE"
          echo "Reference (pull request): \`${{ github.event.pull_request.head.sha }}\`"
          echo "### Python bindings"
          echo "Reference: [\`${{ steps.ref-python-bindings.outputs.shorthash }}\`](https://github.com/precice/python-bindings/commit/${{ steps.ref-python-bindings.outputs.shorthash }})"
          echo "Description:"
          echo "\`\`\`"
          echo '${{ steps.ref-python-bindings.outputs.description }}'
          echo "\`\`\`"
          echo "### CalculiX adapter"
          echo "Reference: [\`${{ steps.ref-calculix-adapter.outputs.shorthash }}\`](https://github.com/precice/calculix-adapter/commit/${{ steps.ref-calculix-adapter.outputs.shorthash }})"
          echo "Description:"
          echo "\`\`\`"
          echo '${{ steps.ref-calculix-adapter.outputs.description }}'
          echo "\`\`\`"
          echo "### FEniCS adapter"
          echo "Reference: [\`${{ steps.ref-fenics-adapter.outputs.shorthash }}\`](https://github.com/precice/fenics-adapter/commit/${{ steps.ref-fenics-adapter.outputs.shorthash }})"
          echo "Description:"
          echo "\`\`\`"
          echo '${{ steps.ref-fenics-adapter.outputs.description }}'
          echo "\`\`\`"
          echo "### OpenFOAM adapter"
          echo "Reference: [\`${{ steps.ref-openfoam-adapter.outputs.shorthash }}\`](https://github.com/precice/openfoam-adapter/commit/${{ steps.ref-openfoam-adapter.outputs.shorthash }})"
          echo "Description:"
          echo "\`\`\`"
          echo '${{ steps.ref-openfoam-adapter.outputs.description }}'
          echo "\`\`\`"
          echo "### SU2 adapter"
          echo "Reference: [\`${{ steps.ref-su2-adapter.outputs.shorthash }}\`](https://github.com/precice/su2-adapter/commit/${{ steps.ref-su2-adapter.outputs.shorthash }})"
          echo "Description:"
          echo "\`\`\`"
          echo '${{ steps.ref-su2-adapter.outputs.description }}'
          echo "\`\`\`"
          echo "### Tutorials"
          echo "Reference: [\`${{ steps.ref-tutorials.outputs.shorthash }}\`](https://github.com/precice/tutorials/commit/${{ steps.ref-tutorials.outputs.shorthash }})"
          echo "Description:"
          echo "\`\`\`"
          echo '${{ steps.ref-tutorials.outputs.description }}'
          echo "\`\`\`"
          } >> "$GITHUB_STEP_SUMMARY"

  run-system-tests:
    name: Trigger system tests
    if: ${{ github.event.label.name == 'trigger-system-tests' }}
    needs: gather-refs
    uses: precice/tutorials/.github/workflows/run_testsuite_workflow.yml@develop
    with:
      suites: release_test
      build_args: "PLATFORM:ubuntu_2404,\
        PRECICE_REF:${{ github.event.pull_request.head.sha }},\
        PRECICE_PR:${{ github.event.number }},\
        PYTHON_BINDINGS_REF:${{ needs.gather-refs.outputs.ref-python-bindings }},\
        CALCULIX_VERSION:2.20,\
        CALCULIX_ADAPTER_REF:${{ needs.gather-refs.outputs.ref-calculix-adapter }},\
        FENICS_ADAPTER_REF:${{ needs.gather-refs.outputs.ref-fenics-adapter }},\
        OPENFOAM_EXECUTABLE:openfoam2312,\
        OPENFOAM_ADAPTER_REF:${{ needs.gather-refs.outputs.ref-openfoam-adapter }},\
        SU2_VERSION:7.5.1,\
        SU2_ADAPTER_REF:${{ needs.gather-refs.outputs.ref-su2-adapter }},\
        TUTORIALS_REF:${{ needs.gather-refs.outputs.ref-tutorials }}"
      system_tests_branch: develop
      log_level: "INFO"
